.profile-picture {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}


.citation {
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.presentation {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.video-game {
    display: flex;
    justify-content: center;
}


.qualities-list {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality-item {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 40%;
    text-align: center;
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    max-height: 500px;
    line-height: 1.5;
}

.form-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {

    padding: 10px;
    margin: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

button:hover {
    background-color: #2980b9;
    margin-top: 50px;
}

.skills-table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

.skills-table th, .skills-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.skills-table th {
    background-color: #3498db;
    color: #fff;
}

@media screen and (min-width:1200px) {
    h1 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
        .citation {
        font-size: 40px;
            display: flex;
            justify-content: center;
        }
    }



@media screen and (max-width: 768px) {
    h1 {
        font-size: 10px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .citation {
        font-size: 15px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
    h1 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;
        color: red;
        background-color: red;
    }
    .profile-picture {
        width: 250px;
        height: 250px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}