.profile-picture {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}


.citation {
    font-size: 20px;
    display: flex;
    justify-content: center;
}


.presentation {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

#carouselExampleAutoplaying {
    width: auto;
    height: auto;
    padding-top: 25px;
}

#carouselExampleAutoplaying1 {
    padding-top: 25px;
    margin-bottom: 25px;
}
.caroussel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-game {
    display: flex;
    justify-content: center;
}